.btn-lightblue {
    width: 113px;
    height: 43px;
    padding: 0;
    background: #D2E1FF;
    border: transparent;
    border-radius: 2px;
    font-family: "Quicksand-Bold", sans-serif!important;
    font-weight: 700!important;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3A79FF;
}