@font-face {
    font-family: "OpenSans-Bold";
    src: url("./../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("./../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand-Bold";
    src: url("./../fonts/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand-Medium";
    src: url("./../fonts/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand-Regular";
    src: url("./../fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand-Light";
    src: url("./../fonts/Quicksand-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("./../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./../fonts/Roboto-Regular.ttf") format("truetype");
}


  // Готический шрифт Schwabacher (для проверки подключения шрифтов в проекте).

@font-face {
    font-family: "Schwabacher";
    src: url("./../fonts/gothic/Schwabacher.woff2") format("woff2");
}
