.indicators .active {
    opacity: 1;
    background-color: #5283FF;
}

.indicators li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
    background-color: #D1D6E3;
    border-top: 0;
    border-bottom: 0;

    @media screen and(max-width: 320px) {
        margin-right: 4px;
        margin-left: 4px;
    }
}

li:first-of-type {
    margin-left: 0;
}

li:last-of-type {
    margin-right: 0;
}