.blog {
    padding-top: 104px;
    padding-bottom: 104px;
    background: #F5F8FF;

    @media screen and (max-width: 960px) {
        padding-top: 40px;
        padding-bottom: 40px;
        transition: 1s;
    }

    &__container {
        max-width: 1184px;
        width: 100%;
        padding: 0 15px;
    }

    &__span {
        display: block;
        font-family: "Roboto-Medium", sans-serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        color: #3D4F9F;
        margin-bottom: 20px;
    }

    &__title {
        font-family: "Quicksand-Medium", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #3D4F9F;
        margin-bottom: 92px;
    }

    &__inner {
        max-width: 958px;
        width: 100%;
        background: #FFFFFF;
        margin-bottom: 101px;
        padding: 63px 41px 64px 35px;

        @media screen and(max-width: 350px) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &__item-wrapper {
        max-width: 882px;
        width: 100%;
        flex-wrap: wrap;

        @media screen and(max-width: 937px) {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            padding: 0;
        }
    }

    &__left-block {
        max-width: 407px;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, 127px);
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
        row-gap: 11px;

        @media screen and(max-width: 540px) {
            display: none;
        }
    }

    &__img-big {
        grid-row: 1/3;
        grid-column: 1/2;
        max-width: 267px;
        width: 100%;
        background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
        box-shadow: (0px 15px 100px #E5EBF8);
        border-radius: 5px;
    }

    &__img-top {
        max-width: 127px;
        width: 100%;
        background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%);
        border-radius: 5px;
    }

    &__img-bottom {
        max-width: 127px;
        width: 100%;
        background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%);
        border-radius: 5px;
    }

    &__right-block {
        max-width: 408px;
        width: 100%;
        padding: 0 15px;
    }

    &__subtitle {
        font-family: "Quicksand-Regular", sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        color: #3D4F9F;
        margin-bottom: 32px;
    }

    &__text {
        max-width: 408px;
        font-family: "Roboto-Regular", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8D96BD;
        margin-bottom: 31px;
    }

    &__btn-block {
        @media screen and(max-width: 435px) {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }
    }

    &__btn-left {
        width: 113px;
        height: 43px;
        margin-right: 8px;
        background: #D2E1FF;
        border: transparent;
        border-radius: 2px;
        font-family: "Quicksand-Bold", sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3A79FF;

        @media screen and(max-width: 435px) {
            margin-right: 0;
        }
    }

    &__btn-right {
        width: 211px;
        height: 43px;
        background: #FFFFFF;
        border: transparent;
        border-radius: 2px;
        font-family: "Quicksand-Bold", sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #A6B6DA;

        @media screen and(max-width: 435px) {
            outline: 2px solid #3A79FF;
        }
    }

    &__control-prev {
        @media screen and(max-width: 1035px) {
            display: none;
        }
    }

    &__prev-icon {
        background-image: url(./../images/blog/arrow-left.svg);
        width: 27px;
        height: 19px;
        transform: translateX(-75px);
    }

    &__control-next {
        @media screen and(max-width: 1035px) {
            display: none;
        }
    }

    &__next-icon {
        background-image: url(./../images/blog/arrow-right.svg);
        width: 27px;
        height: 19px;
        transform: translateX(75px);
    }

    &__indicators {
        transform: translateY(101px)!important;

        @media screen and (max-width: 960px) {
            transform: translateY(70px)!important;
            transition: 1s;
        }
    }
}