.customers {
    border-top: 1px solid #D8E3FE;
    border-bottom: 1px solid #D8E3FE;

    &__container {
        max-width: 946px;
        padding: 58px 15px;

        @media screen and (max-width: 960px) {
            padding-top: 40px;
            padding-bottom: 40px;
            transition: 1s;
        }
    }

    &__row {
        column-gap: 20px;
        row-gap: 30px;

        @media screen and (max-width: 711px) {
            justify-content: center!important;
        }
    }

    &__img:hover {
        transform: scale(1.2);
        transition: 0.5s;
    }
}