.features {
    background: url(./../images/features/bg-clouds.png);
    background-repeat: no-repeat;
    //background-size: cover;
    background-position-x: calc(50% + 6px);
    background-position-y: center;

    &__container {
        max-width: 790px;
    }

// !     Important
    &__row {
        @media screen and (max-width: 576px) {
            justify-content: center!important;
        }
    }
// !     Important

    &__about {
        font-family: "Roboto-Medium", sans-serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        color: #3d4f9f;
        margin-top: 174px;
        margin-bottom: 20px;
    }

    &__title {
        font-family: "Quicksand-Medium", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #3d4f9f;
        margin-bottom: 92px;
    }

    &__image {
        margin-bottom: 33px;
    }

    &__subtitle {
        font-family: "OpenSans-Bold", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 25px;
        color: #4074f8;
        text-align: center;
    }

    &__text {
        font-family: "OpenSans-SemiBold", sans-serif;
        font-weight: 600;
        font-size: 11px;
        line-height: 19px;
        color: #adb3cb;
        text-align: center;
        margin-bottom: 0;
    }

    &__col {
        max-width: 140px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 92px
    }

    &__col::after {
        content: "";
        background-image: url(./../images/features/line-big.png);
        width: 28px;
        height: 1px;
        position: absolute;
        top: 125px;
        right: -45px;

        @media screen and (max-width: 670px) {
            display: none;
        }
    }

    &__col:last-child::after {
        display: none;
    }

    &__btn-col {
        max-width: 337px;
    }

    &__btn-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 337px;
        height: 43px;
        margin-bottom: 168px;

        @media screen and(max-width: 383px) {
            justify-content: center;
            row-gap: 10px;
            column-gap: 10px;
        }
    }

    &__btn-left {
        width: 113px;
        height: 43px;
        border-radius: 2px;
        color: #D43F3F;
        background: #FFD7D7;
        font-family: "Quicksand-Bold", sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn-span {
        width: 111px;
        height: 43px;
        color: #ADB3CB;
        font-family: "OpenSans-SemiBold", sans-serif;
        font-weight: 600;
        font-size: 11px;
        line-height: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @media screen and(max-width: 383px) {
            border: 1px solid #FFD7D7;
            border-radius: 2px;
        }

        &::before {
            content: "";
            background-image: url(./../images/features/line-small.png);
            width: 15px;
            height: 1px;
            position: absolute;
            top: 21px;
            left: 16px;
        }

        &:after {
            content: "";
            background-image: url(./../images/features/line-small.png);
            width: 15px;
            height: 1px;
            position: absolute;
            top: 21px;
            right: 16px;
        }
    }

    &__btn-right {
        width: 113px;
        height: 43px;
        border-radius: 2px;
        color: #3A79FF;
        background: #D2E1FF;
        font-family: "Quicksand-Bold", sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

