.footer {
    padding: 93px 0;

    @media screen and (max-width: 960px) {
        padding-top: 40px;
        padding-bottom: 20px;
        transition: 1s;
    }

    &__container {
        max-width: 1236px;
        width: 100%;
        padding: 0 15px;
    }

    &__span {
        font-family: "Quicksand-Medium", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #AEB8D0;
        margin: 28px 0 0 99px;

        @media screen and (max-width: 991px) {
            justify-content: center;
            margin-left: 0;
        }
    }

    &__brand {
        @media screen and (max-width: 991px) {
            display: none;
        }
    }

    &__navbar-nav {
        @media screen and (max-width: 991px) {
            flex-direction: row;
            justify-content: center;
            column-gap: 50px;
        }

        @media screen and (max-width: 300px) {
            flex-direction: column-reverse;
            justify-content: center;
            column-gap: 50px;
        }
    }
}

