.get-started {
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    border-color: #d8e3fe;

    &__subtitle {
        font-family: "Roboto-Regular";
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        margin-top: 91px;
    }

    &__title {
        font-family: "Quicksand-Regular";
        font-weight: 300;
        font-size: 48px;
        line-height: 60px;
        //color: #FFFFFF;
    }

    &__span {
        font-family: "Quicksand-Regular";
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        //color: #FFFFFF;
    }

    &__text {
        font-family: "Roboto-Regular";
        font-weight: normal;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.03em;
        //color: #FFFFFF;
    }

    .btn-secondary {
        background-color: #6888FF;
    }

    .btn-group__link {
        text-decoration: none;
    }
}

