.get-started {
    background: url(./../images/get-started/bg-clouds.png), linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    border-color: #d8e3fe;

    &__subtitle {
        font-family: "Roboto-Medium", sans-serif;
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
        letter-spacing: 0.1em;
        margin-top: 91px;
    }

    &__title {
        font-family: "Quicksand-Light", sans-serif;
        font-size: 48px;
        line-height: 60px;
        font-weight: 300;
        margin-bottom: 28px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__span {
        font-family: "Quicksand-Medium", sans-serif;
        font-size: 48px;
        line-height: 60px;
        font-weight: 500;
    }

    &__text {
        max-width: 712px;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.03em;
    }

    &__btn-left {
        width: 130px;
        height: 43px;
        color: #565f82;
        background-color: #ffffff;
        box-shadow: 0px 5px 15px 0px #6480e8;
        font-family: "Quicksand-Bold", sans-serif;
        font-weight: 700;
        font-size: 13px;
    }

    &__btn-right {
        width: 160px;
        height: 43px;
        color: #c7d3ff;
        border-color: #a0b4ff;
        font-family: "Quicksand-Medium", sans-serif;
        font-weight: 500;
        font-size: 13px;
    }
}

.btn-group {
    margin-top: 28px;
    margin-bottom: 91px;
}
