.header {
    padding-top: 19px;
    padding-bottom: 18px;

    &__container {
        max-width: 1236px;
        width: 100%;
        padding: 0 15px;
    }

    &__brand {
        margin-right: 73px;
        font-size: 0;
    }

    &__nav {
        font-family: "Quicksand-Medium", sans-serif!important;
        font-weight: 500!important;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #697CA6;
        text-shadow: 0px 0px 5px #E6E6E6;
        margin-right: 42px;
    }

    &__nav:hover {
        font-family: "Quicksand-Bold", sans-serif!important;
        font-weight: 700!important;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #5E81FE!important;
        text-shadow: 0px 0px 5px #E6E6E6;
    }

    &__nav:active {
        font-family: "Quicksand-Bold", sans-serif!important;
        font-weight: 700!important;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #5E81FE!important;
        text-shadow: 0px 0px 5px #E6E6E6;
    }

    &__social {
        margin-left: 36px;
        margin-right: 44px;
    }
}

.navbar-block {
    padding: 0;
}

.navbar-nav {
    max-width: 1107px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
