.hero-image {

    &__container {
        background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%), url(./../images/hero-image/bg-image.png);
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
        background-blend-mode: lighten;
        background-size: cover;
        position: relative;
        padding: 92px 0px 0px;
        height: 640px;

        @media screen and (max-width: 1440px) {
            height: 540px;
            transition: 2s;
        }

        @media screen and (min-width: 1440px) {
            height: 640px;
            transition: 2s;
        }
    }

    &__svg {
        position: absolute;
        right: 0;
        bottom: 0;

        //height: 420px;

        @media screen and (max-width: 576px) {
            display: none;
        }

        @media screen and (min-width: 2200px) {
            display: none;
        }
    }

    &__block-1 {
        opacity: 0;
    }

    &__group-1:active &__block-1 {
        opacity: 1;
        transition: 1s;
        filter: drop-shadow(-15px 15px 40px #4074f8);
    }

    &__circle-1:hover {
        fill: #4074f8;
        stroke: #FFFFFF;
        stroke-width: 10;
        //transition: 0.5s;
    }

    &__block-2 {
        opacity: 0;
    }

    &__group-2:active &__block-2 {
        opacity: 1;
        transition: 1s;
        filter: drop-shadow(-20px -20px 30px #4074f8);
    }

    &__circle-2:hover {
        fill: #4074f8;
        stroke: #FFFFFF;
        stroke-width: 10;
        //transition: 0.5s;
    }

    &__block-3 {
        opacity: 0;
    }

    &__group-3:active &__block-3 {
        opacity: 1;
        transition: 1s;
        filter: drop-shadow(0px 5px 20px #4074f8);
    }

    &__circle-3:hover {
        fill: #4074f8;
        stroke: #FFFFFF;
        stroke-width: 10;
        //transition: 0.5s;
    }

    &__block-4 {
        opacity: 0;
    }

    &__group-4:active &__block-4 {
        opacity: 1;
        transition: 1s;
        filter: drop-shadow(0px 0px 6px #4074f8);
    }

    &__circle-4:hover {
        fill: #4074f8;
        stroke: #FFFFFF;
        stroke-width: 10;
        //transition: 0.5s;
    }

    &__subtitle {
        font-family: "Roboto-Medium", sans-serif!important;
        font-weight: 500!important;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        color: #3D4F9F;
        margin-bottom: 16px;
    }

    &__title {
        font-family: "Quicksand-Light", sans-serif!important;
        font-weight: 300!important;
        font-size: 48px;
        line-height: 60px;
        color: #3D4F9F;

        @media screen and (max-width: 576px) {
            font-size: 36px;
            line-height: 45px;
            transition: 1s;
        }
    }

    &__span {
        font-family: "Quicksand-Medium", sans-serif!important;
        font-weight: 500!important;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #3D4F9F;
        margin-bottom: 28px;

        @media screen and (max-width: 576px) {
            font-size: 36px;
            line-height: 45px;
            transition: 1s;
        }
    }

    &__text {
        max-width: 502px;
        font-family: "Roboto-Regular", sans-serif!important;
        font-weight: 400!important;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: #8D96BD;
        text-align: center;
        margin-bottom: 20px;
    }

    &__play-button {
        width: 52px;
        border-radius: 50%;
        border: none!important;
        outline: none!important;
        z-index: 9999;
    }

    &__play-button-circle {
        position: relative;

        &:hover {
            transform: scale(1.2);
            filter: drop-shadow(15px -15px 30px #4074f8);
            transition: 1s;
        }
    }

    &__play-button-polygon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        &:hover {
            opacity: 0;
            transition: 1s;
        }
    }

    &__indicators {
        transform: translateY(262px)!important;

        @media screen and (max-width: 1440px) {
            transform: translateY(162px)!important;
            transition: 2s;
        }

        @media screen and (max-width: 800px) {
            transform: translateY(172px)!important;
            transition: 2s;
        }

        @media screen and (max-width: 688px) {
            transform: translateY(177px)!important;
            transition: 2s;
        }

        @media screen and (max-width: 630px) {
            transform: translateY(50px)!important;
            transition: 2s;
        }

        @media screen and (min-width: 1440px) {
            transform: translateY(262px)!important;
            transition: 2s;
        }


    }

    &__inner {
        padding: 0px 15px;
    }
}







