.hero-image {
    border-top: 1px solid #D8E3FE;
    padding-top: 37px;

    background: url(./../images/hero-image/wave.svg), url(./../images/hero-image/hero-image.svg), linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    background-position: bottom, top, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    //background-size: cover;
    background-size: 100% auto;



    height: 570px;




}
