.newsletter {
    border-top: 1px solid #D8E3FE;
    background-color: #FCFDFF;

    &__container {
        max-width: 917px;
        padding-top: 118px;
        padding-bottom: 119px;
    }

    &__col-form {
        max-width: 477px;
        height: 59px;
    }

    &__col-content {
        max-width: 330px;
        height: 95px;
    }
}